name: Test and lint
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  check:
    name: Test and lint
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Node setup
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "20.19.5"

      - name: Build
        run: |
          npm i
          npm run build

      - name: Publish pkg-pr-new
        run: |
          npx pkg-pr-new publish ./packages/convex-helpers/dist

      - name: Run lint, test, and codegen
        run: |
          npm run lint
          npm run test
          CONVEX_AGENT_MODE=anonymous npx convex dev --run-sh 'npx convex codegen' --once
