name: Test and lint
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  check:
    name: Test and lint
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Node setup
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "20.20.0"

      - name: Build
        run: |
          npm i
          npm run build

      - name: Cache Convex local binary
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.cache/convex
          key: convex-local-binary

      - name: Publish pkg-pr-new
        run: |
          npx pkg-pr-new publish ./packages/convex-helpers/dist

      - name: Run lint and test
        run: |
          npm run lint
          npm run test

      - name: Run codegen
        env:
          CONVEX_AGENT_MODE: anonymous
        run: |
          npx convex dev --once
          git diff --exit-code convex/_generated
