name: Test and lint
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  check:
    name: Test and lint
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Node setup
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "22.21.0"

      - name: Build
        run: |
          npm i
          npm run build

      - name: Publish pkg-pr-new
        run: |
          npx pkg-pr-new publish ./packages/convex-helpers

      - name: Run lint, test, and codegen
        run: |
          npm run lint
          npm run test
          npx convex codegen && git diff --exit-code convex
