name: Test and lint
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  check:
    name: Test and lint
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Node setup
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24.14.0"

      - name: Build
        run: |
          npm i
          npm run build

      - name: Cache Convex local binary
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: ~/.cache/convex
          key: convex-local-binary

      - name: Publish pkg-pr-new
        run: |
          npx pkg-pr-new publish ./packages/convex-helpers/dist

      - name: Run lint and test
        run: |
          npm run lint
          npm run test

      - name: Run codegen
        env:
          CONVEX_AGENT_MODE: anonymous
        run: |
          npx convex dev --once
          git diff --exit-code convex/_generated
