name: Test and lint
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  check:
    name: Test and lint
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Node setup
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: "18.18.0"

      - run: npm i

      - name: Package directory
        working-directory: packages/convex-helpers
        run: |
          npm i
          npm run test
          npm run lint

      - run: npm run test

      # TODO(ian): Move these into packages or get this working
      # - name: Tests directory
      #   working-directory: tests
      #   run: |
      #     npm i
      #     npm run test
